# Environment variables
.env
*.env

# Airflow logs
airflow-docker/logs/

# Python
/pycache/*
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
